#landingHeader { //"Connecting Professionals Worldwide"
    font-size: 75px;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#landingJumbotron { //Opaque background 
    background: rgb(255, 255, 255); //IE8 and below
    background: rgba(255, 255, 255, 0.15); //All other browsers
}

//Background slideshow on landing page
.App { 
    animation-name: slideshow;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate;

    //Safari support
    -webkit-animation-name: slideshow;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -webkit-animation-direction: alternate;
}

@keyframes slideshow {
    0% {
        background-image:     linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url("/landingBG.jpg");
    }

    50% {
        background-image:     linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url("/img2.jpg");
    }

    100% {
        background-image:     linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url("/img3.jpg");
    }
}

@-webkit-keyframes slideshow {
    0% {
        background-image:     linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url("/landingBG.jpg");
    }

    50% {
        background-image:     linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url("/img2.jpg");
    }

    100% {
        background-image:     linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url("/img3.jpg");
    }
}