.employeetBtn {
    color:#004dcf;
    background-color:#fff;
    border-color:#fff;

    :hover {
        color:#fff;
        background-color:#004dcf;
        border-color:#004dcf;
    }
}

.btn-primary:not(:disabled):not(.disabled).active {
    color:#004dcf;
    background-color:#fff;
    border-color:#fff;
}