.employeetBtn {
    color:#bf0000;
    background-color:#fff;
    border-color:#fff;

    :hover {
        color:#fff;
        background-color:#bf0000;
        border-color:#bf0000;
    }
}

.btn-primary:not(:disabled):not(.disabled).active {
    color:#bf0000;
    background-color:#fff;
    border-color:#fff;
}